body {
	margin: 0;
	font-family: 'Montserrat',sans-serif;
	font-size: 15p;
	line-height: 1.6;
	color: #333;
}
*,
*:before,	
*:after {
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
}
/*container*/
.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}
.main {
	display: flex;
	justify-content: space-between;
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}
/*Header*/
.header {
	display: flex;
	justify-content: space-around;
	background: #FF5D00;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
}
.header__inner{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header__logo {
	text-transform: uppercase;
	font-size: 30px;
	font-weight: 700;
	color: #fff;
}
/*Nav*/
.navbar {
	font-size: 14px;
	text-transform: uppercase;
}
.nav__inner {
	display: inline-block;
	vertical-align: top;
	margin: 10px 15px;
	position: relative; 
	color: #fff;
	text-decoration: none;
	transition: color .1s linear;
}
.nav__inner:after {
	content: "";
	display: block;
	width: 100%;
	height: 3px;
	opacity: 0;
	background-color: #fce38a;
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1;
	transition: opacity .1s linear;
}
.nav__inner:hover {
	color: #fce38a;
}
.nav__inner:hover:after {
	opacity: 1;
}

.section {
	padding: 80px 0px 30px 0px;
}
.section:after {
	content: "";
	display: block;
	width: 90px;
	height: 14px;
	margin: 100px auto 0;
	background-color: #FF965A;
	width: 100%;
	max-width: 1200px;
}
/*Intro*/
.intro {
	padding: 0 110px;
}
.intro__item {
	display: flex;
	justify-content: space-around;
}
.intro__photo {
	width: 200px;
	border-radius: 50% ;
	box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.45);
}
.itro__title {
	font-size: 24px;
	margin-top: 40px;
	text-align: center;
	text-transform: uppercase;
	line-height: 1;
}
.itro__title:after {
	content: "";
	display: block;
	width: 90px;
	height: 2px;
	margin: 0px auto 0;
	background-color: #000000;
}
.intro__subtitle {
	margin-top:20px ;
	text-transform: uppercase;
}
li::marker {
  color: #FF965A;
  font-size: 1.2em;
}
	/*About*/
.about__title {
	color: #FF965A ;
	font-size: ;
	text-transform: uppercase;
}
.about__item {
	width: 500px;
}
.text__pre {
	background-color: #FF965A ;
}
/*Footer*/
.footer {
	display: flex;
	justify-content: space-around;
	width: 100%;
	height: 50px;
	background-color: #FF5D00;
}
.footer__item {
	font-size: 15px;
	display: flex;
	justify-content: space-between;
}
.git {
	color: #000000;
	text-decoration: none;
}
.git:hover {
	color: #fff;
}